button.btn.btn-lg.view-poster-btn.center-block {
    border: 1px solid #fff;
    background-color: rgba(112, 146, 190, 0);
}
button.btn.btn-lg.view-poster-btn.center-block:hover {
	color:#FFF;
}

div#event1 {
    padding-top: 41px;
}

.header-jumbotron{
	margin: 0;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.bg-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20, 20, 20, 0.62);
    z-index: -9 /*Moved one position above the -10 */;
}



.overlay {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    height: 300px;
}


.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

#navbar-brand {
	color:#FFF;
	font-size: 15px;
}

#myNavbar a {
	color:#FFF;
}

img.modal-poster {
    width: 100%;
}



h4.list-group-item-heading {
    font-size: 33px;
    display: inline-block;
}

h4.list-group-item-heading::after {
    border-bottom: 2px solid #000;
    content: "";
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-group-item {
    border: 0;
}
body {
    font-family: 'Nanum Barun Gothic', sans-serif;
}
p.list-group-item-text.date-info {
    font-weight: bold;
    font-size: 16px;
}


.buttons-center-area button {
    text-align: center;
    display: inline-block;
    margin-bottom:10px;
}

.buttons-center-area {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display:                 -webkit-flex; /* Safari 8 */
    flex-wrap:               wrap;
    -webkit-flex-wrap:       wrap;         /* Safari 8 */
    justify-content:         center;
    -webkit-justify-content: center;
    max-width: 443px;
}

p.list-group-item-text {
    font-size: 1.3em;
}

.list-group-item ul li {
    font-size: 1.1em;
}



#button-customized-style button {
    background-color: #92c2de;
    color: #FFF;
    border: 0 ;
}

.datecol {
    font-weight:bold;
}

.schedule-list thead {
    font-weight:bold;
}